body{
	background: black;
}

h1{
	color: white;
}

h2{
	color: black;
}
.bbcNav{
	background: white;
}

.caption{
	height: 200px;
}
.artist{
	margin-top: 20px;
}
.home_introducing{
	text-align: center;
}
.home_introducing img{
	width: 400px;
	height: 400px;
}
